.fs {
    height: 480px;
}
.fs_inner {
    height: 480px;
}
.fs_col1  {
    width: 190px;
    height: 460px;
    float: left;
    margin-right: 10px;
    padding: 10px 0;
    background-color: #fefefe
}
.fs_col1 li {
    padding-left: 18px;
    height: 27px;
    line-height: 27px;
}
.fs_col1 li:hover {
    background-color: #d9d9d9;
}
.fs_col1 a {
    font-size: 14px;
    color: #626262;
}
.fs_col1 a:hover {
    color: #f10215;
}
.cate_menu_line{
    padding: 0 2px;
    font-size: 12px;
    color: #636353;
}
.fs_col2 {
    margin-top: 10px;
    height: 470px;
    width: 590px;
    float: left;
    background-color: yellowgreen;
    margin-right: 10px;
}
.J_focus {
    width: 590px;
    height: 470px;
    overflow: hidden;
    position: relative;
}
.J_focus li {
    width: 590px;
    height: 470px;
    display: none;
}

.J_focus_list>ul>li {
    position: absolute;
    z-index: 0;
}
.J_focus_list>ul a,img {
}
.slider_indicators {
    z-index: 1;
}
.slider_indicators i {
    font-family: icomoon;
    font-style: normal;
    font-size: 14px;
}
.slider_control_prev i,.slider_control_next i{
    font-size: 20px;
    font-family: icomoon;
    font-style: normal;
}
.slider_control_prev,.slider_control_next {
    width: 24px;
    height: 40px;
    background-color: rgba(0,0,0,.2);
    color: hsla(0,0%,100%,.4);
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    z-index: 1;
}
.slider_control_prev:hover,.slider_control_next:hover{
    background-color: #989898;
}
.slider_control_prev {
    left: 0;
}
.slider_control_next {
    right: 0;
}
.fs_col3 {
    margin-top: 10px;
    height: 470px;
    width: 190px;
    float: left;

}
.fs_col4 {
    margin-top: 10px;
    height: 470px;
    width: 190px;
    float: right;
    background-color: #ccc;

}
.slider_indicators{
    position: absolute;
    left: 46px;
    bottom: 20px;
}
.slider_indicators i {
    font-family: icomoon;
    font-style: normal;
    color: rgba(226,255,243,0.37);
}
.slider_indicators a{
    /*color: rgba(226,255,243,0.37);*/
    color: hsla(0,0%,100%,.2);
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.slider_indicators a:hover{
    color: #f6f6f6;
}
.rec_item {
    width: 190px;
    height: 150px;
    margin-bottom: 10px;
}
.J_user {
    height: 150px;
    background: #fff;
    text-align: center;

}
.user_inner {
    padding-top: 62px;
    height: 88px;
    position: relative;
}
.user_inner a {
    color: #888;
}
.user_tip {
    line-height: 20px;
    width: 100%;
    color: #888;
}
.J_user_avatar {
    position: absolute;
    left: 50%;
    top: -10px;
    width: 65px;
    height: 65px;
    margin-left: -34px;
}
.J_user_avatar a {
    border: 5px solid #e3e1df;
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 3px 6px 25px #c3c3c3;
    overflow: hidden;
}
.J_user_avatar img {
    display: block;
    width: 55px;
    height: 55px;
}
.user_profit {
    margin-top: 10px;
    height: 25px;
    font-size: 0;
}
.user_profit a{
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #e43f3b;
    border-radius: 13px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.user_profit a:hover {
    background-color: #f10215;
    color: #f6f6f6;
}
.user_profit .user_profit_lk_plus {
    background: #363634;
    color: #e5d790;
}
.J_news {
    height: 134px;
    padding-top: 8px ;
    background: #fff;
    position: relative;
}
.J_news:after {
    display: block;
    width: 160px;
    height: 1px;
    background-color: #ebeaea;
    position: absolute;
    bottom: 0;
    left: 15px;
    content: '';
    z-index: 1;
}
.news_first {
    border-right: 1px solid #dfe0e1;
    padding: 0 15px;
}
.news_more:hover {
    color: #f10215;
}
.tab-hd {
    padding: 3px 0;
    position: relative;
}
.tab-hd a {
    padding-left: 15px;
    font-size: 12px;
    color: #333;
}
.mod_tab_content_item ul {
    padding: 15px 15px 0;
}
.mod_tab_content_item li {
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
    text-overflow: ellipsis;
}
.tab-bd {
    display: block;
    height: 115px;
}
.tab-bd a {
    font-size: 12px;
    color: #666666;
}
.news_more {
    position: absolute;
    top: 3px;
    right: 12px;
}
.line {
    width: 27px;
    height: 2px;
    background: #db192b;
    position: absolute;
    bottom: -1px;
    left: 13px;
}
.J_service {
    padding: 18px 11px 11px;
    height: 149px;
    background-color: #fff;
}
.J_service li {
    float: left;
    width: 42px;
    height: 50px;
    text-align: center;
}
.J_service li a {
    display: block;
    width: 100%;
    height: 100%;
}
.J_service i {
    display: block;
    width: 20px;
    height: 20px;
    margin: 4px auto 0;
    background: url("../images/sprite_fs@1x.png") -10px -10px no-repeat;
}
.J_service .service_ico_jiayouka {
    background-position: -2px -2px;
}
.J_service .service_ico_huafei {
    background-position: -2px -90px;
}
.J_service .service_ico_jipiao {
    background-position: -2px -46px;
}
.J_service .service_ico_jiudian {
    background-position: -46px -90px;
}
.J_service .service_ico_youxi {
    background-position: -90px -1px;
}
.J_service .service_ico_qiyegou {
    background-position: -90px -45px;
}
.J_service .service_ico_dianyingpiao {
    background-position: -46px -45px;
}
.J_service .service_ico_huochepiao {
    background-position: -90px -90px;
}
.J_service .service_ico_zhongchou {
    background-position: -134px -2px;
}
.J_service .service_ico_licai {
    background-position: -134px -46px;
}
.J_service .service_ico_lipinka {
    background-position: -134px -90px;
}
.J_service .service_ico_baitiao {
    background-position: -46px -2px;
}
.J_service span {
    display: block;
    height: 25px;
    line-height: 25px;
    color: #bea68d;
}